:root {
    --dark-red: 160, 22, 55;
    --white: 245, 245, 245;
    --bright-red: 215, 35, 74;
    --black: 38, 34, 35;
    --gray: 239, 234, 238;
    --title-color: 247, 47, 86;
}

body {
    background-color: rgb(var(--dark-red));
}
p{
    margin:0;
}

.title {
    color: rgb(var(--title-color));
    text-align: center;
    margin-top: 50px;
    font-size: 60px;
}

.subTitle {
    color: rgb(var(--title-color));
    text-align: center;
    font-size: 30px;
}

.mainMenu {
    margin: auto;
    background-color: rgb(var(--white));
    width: 500px;
    padding: 15px;
    border-radius: 15px;
}



@keyframes fadeAnim {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translate(var(--x), var(--y));
    }
}

.playFadeRight {
    --x: 300px;
    --y: 0px;
    animation-name: fadeAnim;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
    pointer-events:none;

}

.playFadeLeft {
    --x:-300px;
    --y: 0px;
    animation-name: fadeAnim;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
    pointer-events:none;
}

.playFade{
    --x: 0px;
    --y: 0px;
    animation-name: fadeAnim;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
    pointer-events:none;
}


.actionButton {
    display: block;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    background: none;
    color: rgb(var(--black));
    font-size: 30px;
}

.actionButton:hover {
    color: rgb(var(--bright-red));
    cursor: pointer;
    transform: scale(1.1);
}

@keyframes noAnim {
}

.playNoAnim{
    animation-name : noAnim;
    animation-duration :0s;
    animation-fill-mode: forwards;
}   