:root{
    --red: #a01637;
    --white: #F5F5F5;
    --pink : #D7234A;
    --black : #262223;
    --gray: #EFEAEE;
    --title-color :#F72F56
}

body{
    background-color: var(--red);
}

.title{
    color: var(--title-color);
    text-align:center;
    margin-top:50px;
    font-size:60px;
}

.gameMenu{
    margin: auto;
    background-color: var(--white);
    width:500px;
    height:200px;
    padding:15px;
    border-radius:15px;
}

.actionButton{
    display:block;
    margin:auto;
    margin-top: 15px;
    border: none;
    background: none;   
    color: var(--black);
    font-size:30px;
}

.actionButton:hover{
    color: var(--pink);
    text-decoration:underline;
    cursor: pointer;
}