.playerSymbolDiv {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.playerSymbolDiv input{
    width:20px;
    height: 20px;
}

.playerSymbolDiv>div>div {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.symbolAnimationToggleDiv{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.symbolAnimationToggleDiv input{
    width:20px;
    height: 20px;
}

.generalOptions *{
    font-size:25px;
}
