.grid {
    position: relative;
    background-color: var(--white);
    width:450px;
    height:450px;
    padding:25px;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.row{
    width:100%;
    height:100%;
    display:flex;
    justify-content: space-between;
}

.cell{
    border-top:1px solid var(--black);
    border-left:1px solid var(--black);
    width:100%;
    height:100%;
}

.rightDiv{
    border-right: 1px solid var(--black);
}

.bottomDiv{
    border-bottom: 1px solid var(--black);
}